:root 
{
    --cmp-c-1: #FF7979;
    --cmp-c-2: #38CC8B;
    --cmp-c-3: #5E54A4;
    --cmp-c-4: #3D3B48;
    --cmp-c-5:  hsla(248, 9%, 26%, 75%);
    --cmp-c-6: #BAB7D4;
    --cmp-c-white:white;

    --cmp-f-1: "Poppins", sans-serif;
}

body {
    margin:0;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}

* :last-child {
    margin-bottom: 0;
}


/* Typography */

.cmp {
    font-family: var(--cmp-f-1);
    line-height: 1.6;
}

.cmp__hero {
    color: var(--cmp-c-white);
}

.cmp__title 
{
    font-size: 1.75rem;
    line-height: 1.28;
}

.cmp__input::placeholder, .cmp__input {
    font-size: 0.875rem;
    font-weight: 600;
}
.cmp__input::placeholder {
    color: var(--cmp-c-4);
    opacity: 75%;
}

.cmp__input {
    color: var(--cmp-c-4);
}

.cmp__input-error 
{
    font-size: .68rem;
    color: var(--cmp-c-1);
    font-weight: 500;
    font-style: italic;
}

.cmp__sign-up-terms 
{
    color: var(--cmp-c-6);
    font-size: .6875rem;
    font-weight: 500;
}

.cmp__sign-up-terms span 
{
    color: var(--cmp-c-1);
}


@media (min-width:1200px)
{
    .cmp__title {
        font-size: 3.125rem;
    }
}

/* Components Typography */

.cmp__btn 
{
    font-size: .9375rem;
    color: var(--cmp-c-white);
}


.cmp__btn--claim 
{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.066em;
}



/* Layout */

.cmp 
{
    background-image: url(../../images/bg-intro-mobile.png);
    background-color: var(--cmp-c-1);
    text-align: center;
    padding: 5.5em 6.4% 4.25em;
}
.cmp > * {
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}
.cmp__hero 
{
    margin-bottom: 4em;
}


.cmp__form-container 
{
    background-color: var(--cmp-c-white);
    border-radius: 10px;
    padding: 1.5em;
}


.cmp__form {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}


.cmp__input-container {
    position: relative;
}

.cmp__input{
    width: 100%;
    padding: 1.07em 2.28em;
}

.cmp__input-error {
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translateY(100%);
    margin-bottom: 0;
    opacity: 0%;
    pointer-events: none;
}

.cmp__input-error-icon {
    position: absolute;
    right: .5em;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0%;
    pointer-events: none;
}

.cmp__input-container.invalid .cmp__input-error, .cmp__input-container.invalid .cmp__input-error-icon
{
    opacity: 100%;
    pointer-events: all;
}

.cmp__input-container.invalid {
    margin-bottom: .75em;
}


.cmp__btn--try, .cmp__form-container {
    box-shadow: 0px 8px 0px hsla(0, 0%, 0%, 14%);
}

@media(min-width:1200px)
{
    .cmp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        padding: 7.56em 11.4%;
    }
    .cmp > * {
        margin-left: 0;
        margin-right: 0;
    }

    .cmp__hero {
        margin-bottom: 0;
        text-align: left;
    }

    .cmp__form-container {
        max-width: none;
    }
}


/* Components Layout */

.cmp__btn {
    padding: 1.125em;
    border:none;
}

.cmp__btn--try 
{
    background-color: var(--cmp-c-3);
    border-radius: 10px;
}

.cmp__btn--claim {
    border-radius: 5px;
    background-color: var(--cmp-c-2);
    box-shadow: inset hsla(0,0%,0%,9%) 0px -4px;
    cursor: pointer;
    transition: filter 300ms;
}

.cmp__btn--claim:hover 
{
    filter: brightness(120%);
}

